 /* font-family: "Raleway",
 sans-serif;

 font-family: "Roboto",
 sans-serif; */

:root {
    --iris: #4d5ae5;
    --ocean: #404bbf;
    --navy-blue: #422e30;
    --green: #31d0aa;
    --slate: #434455;
    --light-slate: #8e8f99;
    --cornflower: #e7e9fc;
    --cloud: #f4f4fd;
    --navy-blue-modal: rgba(46, 47, 66, 0.4);
    --grey: rgba(46, 47, 66, 0.7);
    --white: #fff;
    --dairy: #fcfcfc;
}

 body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #fff;
 }

 ul, ol {
list-style-type: none;
 }

 a {
    text-decoration: none;
 }

.logo {
    font-family: var(--second-family);
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}
 
.header-logo .logo-part {
 color: #422e30;
}

.footer-logo .logo-part {
 color: #f4f4fd;;
}
.nav-link {
      font-weight: 500;
      font-size: 16px;
      line-height: 1.5;
      letter-spacing: 0.02em;
      color: #422e30;;
}


.contacts-link {
   font-size: 16px;
   line-height: 1.5;
   letter-spacing: 0.02em;
   color: #434455;
}

.contacts {
   font-style: normal;
}

.contacts-link:hover,
.contacts-link:focus,
.nav-link:hover,
.nav-link:focus {
   color: #404bbf;
}

.page-footer {
background-color: #2e2f42;
color: #f4f4fd;
}

